<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <p>{% if error %}{{ error }}{% endif %}</p>
    <form action="/login" method="post">
        <div>
            <label for="mail">メール</label>
            <input type="text" id="mail" name="mailAddress">
        </div>
        <div>
            <label for="pass">パスワード</label>
            <input type="password" id="pass" name="password">
        </div>
        <button type="submit">ログイン</button>
    </form>
    <a href="./signup.html">サインアップはこちら</a></li>
</body>
</html>