body {
    background-color: rgb(255, 243, 253);
}

.title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.763);
}

.button_list{
    width: 50px;
}